.root {
 display: flex;
 align-items: center;
 margin: 50px 25px;
}

.card {
  padding: 10px 0;
}

.infected {
  border: 3px solid rgba(0, 0, 255, 0.5);
}

.recovered {
  border: 3px solid rgba(0, 255, 0, 0.5);
}

.deaths {
  border: 3px solid rgba(255, 0, 0, 0.5);
}

.active {
  border: 3px solid rgba(0, 140, 140, 0.5);
}
