.root {
  margin: 50px 0;
  flex-grow: 1;
}
/*
.card {
  margin: 0 2% !important;
} */

.infected {
  border: 3px solid rgba(0, 0, 255, 0.5);
}

.recovered {
  border: 3px solid rgba(0, 255, 0, 0.5);
}

.deaths {
  border: 3px solid rgba(255, 0, 0, 0.5);
}

.active {
  border: 3px solid rgba(0, 140, 140, 0.5);
}
