body {
  background-color: rgb(250,250,250);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cardImage, img {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.cardImage {
  width: 370px;
  height: 82px;
  margin-top: 50px;
  position: relative;
}

.cardImage:hover img:nth-child(4){
  transform: translate(-16px,-16px);
}

.cardImage:hover img:nth-child(3){
  transform: translate(-8px,-8px);
  opacity: 0.5;
}

.cardImage:hover img:nth-child(2){
  transform: translate(-4px,-4px);
  opacity: 0.25;
}

.cardImage:hover img:nth-child(1){
  transform: translate(0px,-0px);
  opacity: 0.125;
}

.image {
  width: 100%;
  position: absolute;
}
